.r-select {
  display: flex;
  align-items: center;
  line-height: var(--r-select-line-height, var(--r-cell-line-height, 24px));
  font-size: var(--r-select-font-size, var(--r-cell-font-size, 14px));
  box-sizing: border-box;
  &__content {
    flex: 1;
    box-sizing: border-box;
  }
}