//:: @import '../../picker/style/index.less';

:root {
  --r-select-line-height: 24px;
  --r-select-font-size: 14px;
  --r-select-color: #323233;
  --r-select-placeholder-color: #c8c7cc;
  --r-select-content-right-padding-right: 4px;
}

@import './tile.less';
.r-select {
  display: flex;
  align-items: center;
  line-height: var(--r-select-line-height);
  font-size: var(--r-select-font-size);
  color: var(--r-select-color);
  box-sizing: border-box;
  &__content {
    flex: 1;
    box-sizing: border-box;
    &--placeholder {
      color: var(--r-select-placeholder-color);
    }
    &--right {
      padding-right: var(--r-select-content-right-padding-right);
    }
  }
}

