$white: #fff !default;
$black: #000 !default;
$title-color: #1a1a1a !default;

$doc-blue: #1989fa;
$doc-red: #fa2400;
$doc-dark-grey: #666;
$doc-text-color: #666666;
$doc-code-background-color: #f1f4f8;
$doc-code-font-family: 'Source Code Pro', 'Monaco', 'Inconsolata',
  monospace;
$doc-background-color: #f7f8fa;