//:: @import '../../overlay/style/index.less';
//:: @import '../../icon/style/index.less';

:root {
  --r-popup-border-radius: 16px;
  --r-popup-close-icon-margin: 12px;
  --r-popup-background-color: #fff;
  --r-popup-close-icon-z-index: 1;
  --r-popup-close-icon-color: #969799;
  --r-popup-close-icon-font-size: 16px;
}

.r-popup {
  position: fixed;
  box-sizing: border-box;
  background-color: var(--r-popup-background-color);
  -webkit-overflow-scrolling: touch;
  overflow-y: auto;
  &--center {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  &--center&&--round {
    border-radius: var(--r-popup-border-radius);
  }

  &--top,
  &--bottom {
    width: 100%;
    left: 0;
  }
  &--top {
    top: 0;
    min-height: 30px;
  }
  &--top&&--round {
    border-radius: 0 0 var(--r-popup-border-radius) var(--r-popup-border-radius);
  }
  &--bottom {
    bottom: 0;
  }
  &--bottom&&--round {
    border-radius: var(--r-popup-border-radius) var(--r-popup-border-radius) 0 0;
  }

  &--left,
  &--right {
    top: 0;
    min-width: 30px;
    min-height: 30px;
  }
  &--left {
    left: 0;
  }
  &--right {
    right: 0;
  }
  &--left&&--round {
    border-radius: 0 var(--r-popup-border-radius) var(--r-popup-border-radius) 0;
  }
  &--right&&--round {
    border-radius: var(--r-popup-border-radius) 0 0 var(--r-popup-border-radius);
  }

  &-bounce-enter-active,
  &-bounce-leave-active {
    transition: opacity .55s ease;
  }
  &-bounce-enter-from,
  &-bounce-leave-to {
    opacity: 0;
  }

  &-bottom-enter-from,
  &-bottom-leave-to {
    transform: translate(0, 100%);
  }

  &-top-enter-from,
  &-top-leave-to {
    transform: translate(0, -100%);
  }

  &-left-enter-from,
  &-left-leave-to {
    transform: translate(-100%, 0);
  }

  &-right-enter-from,
  &-right-leave-to {
    transform: translate(100%, 0);
  }

  &-fade {
    &-enter-active,
    &-leave-active {
      transition: opacity .55s ease;
    }
    &-enter-from,
    &-leave-to {
      opacity: 0;
    }
  }

  &__close-icon {
    position: absolute;
    z-index: var(--r-popup-close-icon-z-index);
    color: var(--r-popup-close-icon-color);
    font-size: var(--r-popup-close-icon-font-size);
    cursor: pointer;
    &--top-right {
      top: var(--r-popup-close-icon-margin);
      right:  var(--r-popup-close-icon-margin);
    }
    &--top-left {
      top: var(--r-popup-close-icon-margin);
      left:  var(--r-popup-close-icon-margin);
    }
    &--bottom-right {
      bottom: var(--r-popup-close-icon-margin);
      right:  var(--r-popup-close-icon-margin);
    }
    &--bottom-left {
      bottom: var(--r-popup-close-icon-margin);
      left:  var(--r-popup-close-icon-margin);
    }
  }
}